.reveal .slide-logo {
  max-height: 5rem !important;
  bottom: -2px;
  right: 10px;
}


/* Extra logo (iets kleiner en verder naar links) */
  .reveal .extra-logo {
    position: fixed !important; /* Zorg dat het zich gedraagt zoals standaard logo */
      bottom: -2vh !important;  /* Lager */
      left: 0vw !important;    /* Meer naar links */
      height: 10vh !important;  /* Kleinere hoogte */
      width: auto !important;  
    z-index: 10 !important;
  }

/* Specifieke fix voor afbeelding binnen het extra logo */
  .reveal .extra-logo img {
    height: 100% !important;
    width: auto !important;
    max-height: 5vh !important;
  }

